@import "./../theme/theme.module.sass"

#header
    padding: 1rem
    @include set-gradient(right, #253170, #9b574e, #9b574e)
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1)
    display: grid
    place-items: center
    grid-template-areas: "nav logo"
    grid-template-columns: 3fr 1fr
    column-gap: 3rem

    nav
        grid-area: nav
        width: 100%

        a
            @include preserve-anchor-style()

        ul
            list-style-type: none
            width: 100%
            display: flex
            gap: 3rem

            li
                text-align: center
                font-family: $font-serif
                color: #f39a6d
                font-size: 1.6rem

            li:hover
                text-shadow: 0 0 1rem rgb(243, 154, 109, 0.85)

    #logo-wrapper a
        grid-area: logo
        width: 100%
        display: flex
        flex-direction: row-reverse
        justify-content: center
        align-items: center
        gap: 1.5rem

    #logo
        width: 5rem

    #text-logo
        width: 18rem
        filter: drop-shadow(0 0.15rem 0 rgba(0, 0, 0, 0.2))

    #logo:hover
        cursor: pointer
        filter: drop-shadow(0 0 1rem rgba(90, 179, 236, 0.85))

    #text-logo:hover
        cursor: pointer
        filter: drop-shadow(0 0 1rem rgba(240, 202, 153, 0.8))

@media ( max-width: 1050px) /* Custom medium-size two-row stack to avoid text logo causing scroll behaviour */
    #header
        grid-template-areas: "logo" "nav"
        grid-template-columns: 1fr

        nav
            margin-top: 1rem

            ul
                padding: 0
                gap: 3rem
                justify-content: center

        #text-logo
            width: 22rem
            filter: drop-shadow(0 0.15rem 0 rgba(0, 0, 0, 0.2))

@media (max-width: $breakpoint-small)
    #header
        nav
            ul
                gap: 0.5rem
                flex-direction: column

                li
                    padding: 1rem 0

                li:hover
                    background: rgba(255, 255, 255, 0.025)

                li:first-child
                    display: none

        #logo-wrapper a
            flex-direction: column

        #text-logo
            width: 27rem
            filter: drop-shadow(0 0.2rem 0 rgba(0, 0, 0, 0.2))
